{% load static%}
{% load filter_tags %}
<!-----header---------->
<section id="posts">
    <div class="container">

        <div class="row p-2 mb-1 no-gutters">
            <div class="col-md-12 mb-3">
                <h1 class="4post-header mt-4 text-left" style="color: black; font-weight: 800">RECENT ARTICLES</h1>
            </div>

           <!-- <div class="col-md-12 border"> -->
            {% for blogPost in blogPosts %}
                    <div class="col-md-3 mb-4 no-gutters">
                        <div class="card border-0"> <!--style="width: 18rem;-->
                            <div class="img" style="width: 100%;max-height: 255px;">
                                <img class="card-img-top rounded-0" 
                                {% if blogPost.image %}
                                    src="{{ blogPost.image.url }}" alt="Card image cap" style="width:100%;max-height:240px;object-fit: cover;"/>
                                {% else %} 
                                    src="https://via.placeholder.com/240" alt="Card image cap" />
                                {% endif %}
                                <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                    <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                                </div>
                            </div>
                            <div class="card-body">
                                            <h5 class="card-subtitle mb-1" style="color: red">
                                                {% for topic in blogPost.topic.all %}
                                                    {{ topic|title }}
                                                {% endfor %}
                                            </h5>

                            <!--CARD TITLE-->
                            <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                                {{blogPost.title | title}}</a></h4>
                                <h6 class="mt-1"><a href="{% url 'userprofile:profile' blogPost.author.username %}"class="card-text text-muted">By {{blogPost.author.first_name}} {{blogPost.author.last_name}} </a></h6>        
                          </div>

                            <!--CARD FOOTER-->
                            
                        </div>
                    </div>
            {% endfor %}
            <!-- </div>  end col-md-8 -->
        </div><!-- endrow -->

        <!---see more button-->
        <!-- <div class="row mb-3">
            <a class="see-more btn btn-md btn-outline-dark" href="#">See More >></a>
            </div> -->
    </div><!--end container-fluid-->
</section>
{% block javascript %}
{% endblock javascript %}