{% load static%}
{% load filter_tags %}
  <!-- Page Content -->
  <!-- <div class="container-fluid mt-5 mb-5 px-5 pr-0 ml-2"> -->
  <div class="container-fluid">

    <!-- <div class="row">
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
              <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
              <p class="lead mb-0"><a href="blog.htm#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
          </div>
    </div> -->

    <div class="row no-gutters mt-5">
        
        <div class="col-md-8">

            <div class="container px-0">
                <!-- <div class="row px-5">
                <div class="col-md-12 mb-3">
                    <h1 class="mt-3 text-center border-botttom mb-1" style="font-weight: 800">
                        LASTEST POSTS
                    </h1>
                </div>
            </div> -->

                <div class="row bg-white">
                    {% for blogPost in blogPosts %}
                    <div class="col-md-4">
                        <div class="card border-top" > <!--style="width: 18rem;-->
                            <div class="img" style="width: 100%;max-height: 255px;">
                                <img class="card-img-top rounded-0" 
                                {% if blogPost.image %}
                                    src="{{ blogPost.image.url }}" alt="Card image cap" style="width:100%;max-height:180px;object-fit: cover;"/>
                                {% else %} 
                                src="{% static 'media/17.jpg' %}" alt="Card image cap" />
                                {% endif %}
                                <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                    <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                                </div>
                            </div>
                            <div class="card-body">
                                            <h5 class="card-subtitle mb-1 text-danger">
                                                {% for topic in blogPost.topic.all %}
                                                    {{ topic|title }}
                                                {% endfor %}
                                            </h5>

                            <!--CARD TITLE-->
                            <h4 class="card-title rounded-0 mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                                {{blogPost.title | title}}</a></h4>
                                <h6 class="mt-1"><a href="#"class="card-text text-muted font-italic" style="text-decoration: underline!important;">Continue reading >></a></h6>        
                          </div>

                            <!--CARD FOOTER-->
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
<!-- Side bar -->
        <div class="col-md-3 mt-3">
            {% include 'blog/basetemplates/sidebar.html' %}
        </div>
    
    
    </div> <!-- /.row -->

</div><!-- /.container -->
