{% extends 'blog/basetemplates/base.html' %}
{% load static%}
{% load filter_tags %}

{% block pageTitle %} {{ slug| title }} insights {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">        
        <div class="col-md-9">
            <div class="container px-0">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="mt-4 text-left" style="color: black; font-weight: 800">{{slug| title}}</h1>
                    </div>
                </div>

                <div class="row">
                    {% for blogPost in blogPosts %}
                    <div class="col-md-4">
                        <div class="card shadow rounded-0 mt-2 border-top" > <!--style="width: 18rem;-->
                            <div class="img" style="width: 100%;max-height: 255px;">
                                <img class="card-img-top rounded-0" loading="lazy" 
                                
                                {% if blogPost.image %}
                                    src="{% static 'media/17.jpg' %}" alt="Card image cap" style="width:100%;max-height:180px;object-fit: cover;"/>
                                {% else %}
                                    src="https://picsum.photos/seed/{{blogPost.id}}/240/300" alt="Card image cap" style="width:100%;max-height:180px;object-fit: cover;"/>
                                {% endif %}
                                
                                <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                    <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                                </div>
                            </div>
                            <div class="card-body">
                                    <h5 class="card-subtitle mb-1 text-danger font-weight-light">
                                        {% for topic in blogPost.topic.all %}
                                            {{ topic|title }}
                                        {% endfor %}
                                    </h5>
                            <h4 class="card-title rounded-0 mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                                {{blogPost.title | title}}</a></h4>
                                <h6 class="mt-1"><a href="{{ blogPost.get_absolute_url }}"class="card-text text-muted" style="text-decoration: underline!important;">Continue reading >></a></h6>        
                          </div>                            
                        </div>
                    </div>

                    {% empty %}
                    <div class="col-md-12">
                        <h2 class="text-center mt-5 mb-5">COMING SOON!</h2>
                    </div>
                    
                    {% endfor %}
                </div>

            </div>

        </div>

        <div class="col-md-3 mt-5 px-2">
            {% include 'blog/basetemplates/sidebar.html' %}
        </div>
    
    
    </div> <!-- /.row -->

</div><!-- /.container -->
{% endblock %}