{% load static%}
{% load filter_tags %}
<!-----header---------->
<section id="posts pb-0 mb-0 h-100">
    <div class="container pb-0 mb-0">

        <div class="row p-2 mb-1 no-gutters">
            <div class="col-md-12 mb-3">
                <h1 class="4post-header mt-4 text-left" style="color: black; font-weight: 800">RECENT ARTICLES</h1>
            </div>

           <!-- <div class="col-md-12 border"> -->
            {% for blogPost in blogPosts %}
                    <div class="col-md-3 mb-4 no-gutters">
                        <div class="card"> <!--style="width: 18rem;-->
                            <div class="img" style="width: 100%;max-height: 255px;">
                                <img class="card-img-top rounded-0" loading="lazy" 
                                {% if blogPost.image %}
                                    src="{{ blogPost.image.url }}" alt="Card image cap" style="width:100%;max-height:240px;object-fit: cover;min-width:240px ;"/>
                                {% else %} 
                                    src="https://picsum.photos/seed/{{blogPost.id}}/240/300" alt="Card image cap" style="width:100%;max-height:240px;object-fit: cover;" />
                                {% endif %}
                                <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                    <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                                </div>
                            </div>
                            <div class="card-body">
                                            <h5 class="card-subtitle mb-1" style="color: red">
                                                {% for topic in blogPost.topic.all %}
                                                    {{ topic|title }}
                                                {% endfor %}
                                            </h5>

                            <!--CARD TITLE-->
                            <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                                {{blogPost.title | title}}</a></h4>
                                <h6 class="mt-1"><a href="{% url 'userprofile:profile' blogPost.author.username %}"class="card-text text-muted">By {{blogPost.author.first_name}} {{blogPost.author.last_name}} </a></h6>        
                          </div>

                            <!--CARD FOOTER-->
                            
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12">
                        <h2 class="text-center mt-5 mb-5">COMING SOON!</h2>
                    </div>
            {% endfor %}
            <!-- </div>  end col-md-8 -->
        </div><!-- endrow -->

    </div><!--end container-fluid-->

    <div class="row p-2 mb-1 bg-light no-gutters">
        <div class="container videos pb-0 mb-0">
                <div class="col-md-12 mb-3">
                    <h1 class="4post-header mt-4 text-left" style="color: black; font-weight: 800">Sports</h1>
                </div>
    
                <div class="row">
                {% for blogPost in sportsPosts %}
                <div class="col-md-3 mb-4 no-gutters">
                    <div class="card"> <!--style="width: 18rem;-->
                        <div class="img" style="width: 100%;max-height: 255px;">
                            <img class="card-img-top rounded-0" loading="lazy" 
                            {% if blogPost.image %}
                                src="{{ blogPost.image.url }}" alt="Card image cap" style="width:100%;max-height:240px;object-fit: cover;min-width:240px ;"/>
                            {% else %} 
                                src="https://picsum.photos/seed/{{blogPost.id}}/240/300" alt="Card image cap" style="width:100%;max-height:240px;object-fit: cover;" />
                            {% endif %}
                            <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                            </div>
                        </div>
                        <div class="card-body">
                                        <h5 class="card-subtitle mb-1" style="color: red">
                                            {% for topic in blogPost.topic.all %}
                                                {{ topic|title }}
                                            {% endfor %}
                                        </h5>
    
                        <!--CARD TITLE-->
                        <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                            {{blogPost.title | title}}</a></h4>
                            <h6 class="mt-1"><a href="{% url 'userprofile:profile' blogPost.author.username %}"class="card-text text-muted">By {{blogPost.author.first_name}} {{blogPost.author.last_name}} </a></h6>        
                      </div>
    
                        <!--CARD FOOTER-->
                        
                    </div>
                </div>  
                
                {% empty %}
                    <div class="col-md-12">
                        <h1 class="text-center mt-5 mb-5">COMING SOON!</h1>
                    </div>
                {% endfor %}
                </div>
    
        </div>
    </div> <!-- endrow -->

    <div class="row p-2 mb-1 bg-white no-gutters">
        <div class="container videos pb-0 mb-0">
                <div class="col-md-12 mb-3">
                    <h1 class="4post-header mt-4 text-left" style="color: black; font-weight: 800">Videos</h1>
                </div>
    
                <div class="row">
                {% for blogPost in sportsPosts %}
                        <div class="col-md-3 mb-4 no-gutters">
                            <div class="card"> <!--style="width: 18rem;-->
                                <div class="img" style="width: 100%;max-height: 255px;">
                                    <iframe 
                                        width="560" 
                                        loading="lazy"
                                        height="315" 
                                        src="https://www.youtube.com/embed/tgbNymZ7vqY" 
                                        frameborder="0" 
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen>
                                </iframe>
                                </div>
                                <div class="card-body">
                                                <h5 class="card-subtitle mb-1" style="color: red">
                                                    {% for topic in blogPost.topic.all %}
                                                        {{ topic|title }}
                                                    {% endfor %}
                                                </h5>
    
                                <!--CARD TITLE-->
                                <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                                    {{blogPost.title | title}}</a></h4>
                                    <h6 class="mt-1"><a href="{% url 'userprofile:profile' blogPost.author.username %}"class="card-text text-muted">By {{blogPost.author.first_name}} {{blogPost.author.last_name}} </a></h6>
                              </div>
    
                                <!--CARD FOOTER-->
    
                            </div>
                        </div>
                        {% empty %}
                    <div class="col-md-12">
                        <h1 class="text-center mt-5 mb-5">COMING SOON!</h1>
                    </div>
                {% endfor %}
                </div>
    
        </div>
    
        </div>
</section>
