{% load static%}
{% load filter_tags %}
    <div class="container">

        <div class="row p-2 mb-1s">
            <div class="col-md-12 mb-3">
                <h1 class="post-header mt-1 text-center" style="color: red; font-weight: bold">RECENT ARTICLES</h1>
            </div>

           <!-- <div class="col-md-12 border"> -->
            {% for blogPost in blogPosts %}
                    <div class="col-md-3 mb-4 no-gutters">
                        <div class="card"> <!--style="width: 18rem;-->
                            
                                <img class="card-img-top rounded-0" src="{% static 'media/13.jpg' %}"
                                 alt="Card image cap" />
                                
                    
                                <div class="card-img-overlay text-white absolute" style="height: 20px;">
                                    <h1 class="card-text pt-3 font-weight-bold">{{forloop.counter}}</h1>
                                </div>
                
    
                            

                            <div class="card-body">
                                            <h5 class="card-subtitle mb-1" style="color: red">
                                                {% for topic in blogPost.topic.all %}
                                                    {{ topic }}
                                                {% endfor %}
                                            </h5>

                            <!--CARD TITLE-->
                            <h4 class="card-title mb-1" style="font-size: 1.4rem;"><a href="{{ blogPost.get_absolute_url }}">
                                {{blogPost.title | title}}</a></h4>
                                <p class="card-text text-muted">by {{blogPost.author.first_name}} {{blogPost.author.last_name}} </p>

    
                                
                                <!--end of title-->

                                <!-- abstract
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                             -->
                                <!-- tags-->
                                <!-- {% with blogPost.tags|split:" " as tags  %}
                                {% for tag in tags %}
                                <span class="font-weight-bold p-1"><a href="#">#{{ tag|title }}</a></span>
                                {% endfor %}
                                {% endwith %} -->
                                <!--endtags -->
                            </div>

                            <!--CARD FOOTER-->
                            
                        </div>
                    </div>
            {% endfor %}
            <!-- </div>  end col-md-8 -->
        </div><!-- endrow -->

        <!---see more button-->
        <!-- <div class="row mb-3">
            <a class="see-more btn btn-md btn-outline-dark" href="#">See More >></a>
            </div> -->
    </div><!--end container-fluid-->
{% block javascript %}
    <script>
        $('#like').click(function(){
              $.ajax({
                       type: "POST",
                       url: "{% url 'blog:like' %}",
                       data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                       dataType: "json",
                       success: function(response) {
                              alert(response.message);
                              alert('Company likes count is now ' + response.likes_count);
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 
            })
        </script>
        {% endblock javascript %}