{% load static %}
<div class="container border-0">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1 class="post-header mt-1 text-center" style="color: red; font-weight: bold">INTERVIEWS</h1>
        </div>    
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <iframe class="card-img-top" width="100%" height="200px"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" frameborder=0 allowfullscreen>
                    </iframe>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">  
                    <h5 class="card-subtitle mb-1" style="color: red">
                    Legal
                    </h5>
                
        
                        <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                        I Don't Want To Spend This Much Time On Legal. How About You?</a></h4>
                
                <!-- <p class="card-text">Some quick example text to build on the card title.</p> -->
                <p class="card-text text-muted">by Caleb Mapatha </p>
                    </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <iframe class="card-img-top" width="100%" height="200px"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" frameborder=0 allowfullscreen>
                    </iframe>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">  
                    <h5 class="card-subtitle mb-1" style="color: red">
                    Legal
                    </h5>
                
        
                        <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                        I Don't Want To Spend This Much Time On Legal. How About You?</a></h4>
                
                <!-- <p class="card-text">Some quick example text to build on the card title.</p> -->
                <p class="card-text text-muted">by Caleb Mapatha </p>
                    </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <iframe class="card-img-top" width="100%" height="200px"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" frameborder=0 allowfullscreen>
                    </iframe>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">  
                    <h5 class="card-subtitle mb-1" style="color: red">
                    Legal
                    </h5>
                
        
                        <h4 class="card-title mb-1" style="font-size: 1.5rem;font-weight: 700;"><a href="{{ blogPost.get_absolute_url }}">
                        I Don't Want To Spend This Much Time On Legal. How About You?</a></h4>
                
                <!-- <p class="card-text">Some quick example text to build on the card title.</p> -->
                <p class="card-text text-muted">by Caleb Mapatha </p>
                    </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<br>
