{% load static %}
<div class="container pb-0">
<div class="jumbotron text-center mt-1 mb-3 px-5 rounded-0" style="background:url({% static 'media/3235.jpeg' %})">
  <!-- style="background:url({% static 'media/555.jpg' %}) -->
  <!-- <h1 class="display-4">Hello, world!</h1> -->
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
 <!-- <hr class="my-4 px-5 w-50 bg-white"> -->
<!-- {#  <p class="px-5">It uses utility classes for typography and spacing to space content out within the larger container.</p>#} -->
  <!-- <a class="btn btn-dark text-white btn-md" href="#" role="button">Learn more</a> -->
</div>
    </div>