{% extends 'blog/basetemplates/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% load filter_tags %}

{% block pageTitle %}{{ blogPost.title|title }} {% endblock %}

{% block content %}
<div class="container">
  <nav class="mt-5 d-none" aria-label="breadcrumb">
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">
          {% for topic in blogPost.topic.all %}
              {{ topic|title }}
          {% endfor %}
      </a></li>
      <li class="breadcrumb-item active" aria-current="page">{{blogPost.title|title}}</li>
    </ol>
  </nav>
  
  <div class="row mt-4">
      
      <!-- Post Content Column -->
      <div class="col-md-10 mt-2 m-auto">
        <h5 class="card-subtitle text-left mb-1 mt-2 text-danger">
          {% for topic in blogPost.topic.all %}
              {{ topic }}
          {% endfor %}
        </h5>
        <!-- Title -->
        <h1 class="mt-1 font-weight-bold text-left">{{ blogPost.title }}</h1>
        
        <!-- Author -->
        <p class="text-left mb-0 text-muted">
          Written by
          <a class="text-muted" style="text-decoration: underline!important;" href="{% url 'userprofile:profile' blogPost.author.username %}">{{ blogPost.author.first_name }} {{ blogPost.author.last_name }}</a> |
        Updated On
        <!-- Date/Time -->
        {{ blogPost.updated_on|date:"M d, Y"}}
        </p>

        <!-- <hr> -->

        <hr>

        <!-- Preview Image -->
        <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
        <img class="img-fluid" 
            src="{% static 'media/17.jpg' %}" width="100%" style="max-height:400px;object-fit: cover;" alt="" />
            <!-- src="{% static 'media/17.jpg' %}" width="100%"  -->

         <br/> 
        <span class="text-muted">Source: <a href="#" class="text-muted">123</a></span>
        <hr>

        <!-- Post Content -->
        <div class="entry-content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Distinctio expedita maiores perspiciatis, sapiente suscipit voluptas dolorem omnis ipsam doloremque praesentium mollitia obcaecati repellat nobis pariatur.

            <p>Blanditiis aperiam itaque, aspernatur fuga magni sint soluta vero, perferendis aut maxime commodi nesciunt sunt ut saepe vel aliquid voluptate similique, possimus omnis.
        </p>

          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
            Dignissimos soluta aliquam, ea ipsa dolor illum sequi, rem omnis reiciendis enim ex ipsum vel, quasi nam quaerat.
            Qui possimus assumenda maxime, dolorum veritatis et ullam vero in quas iste aliquid tempore adipisci minus, architecto, dolores ducimus ea voluptatibus recusandae doloremque ipsum inventore corporis quae.
            <p>Sequi rerum, provident nostrum accusamus quasi distinctio, error nesciunt iste velit in recusandae quis, maxime sapiente quod voluptatibus quaerat aut commodi porro iusto laudantium dolorum quo.
            </p>

            <p>
            Dignissimos soluta aliquam, ea ipsa dolor illum sequi, rem omnis reiciendis enim ex ipsum vel, quasi nam quaerat.
            Qui possimus assumenda maxime, dolorum veritatis et ullam vero in quas iste aliquid tempore adipisci minus, architecto, dolores ducimus ea voluptatibus recusandae doloremque ipsum inventore corporis quae.
            <p>Sequi rerum, provident nostrum accusamus quasi distinctio, error nesciunt iste velit in recusandae quis, maxime sapiente quod voluptatibus quaerat aut commodi porro iusto laudantium dolorum quo.
            </p>

            {% for tag in blogPost.tags.all %}
              {{ tag|split:' ' }}
            {% endfor %}
      </div>
        <!-- End Post-->
        <hr>

        <!-- Comments Form -->
        <div id="disqus_thread"></div>
        <!-- {% include 'blog/Comments.html' with pk=blogPost.pk slug=blogPost.slug %} -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content%}
{% block Script %}
<script src="{% static 'js/navSettings.js'%}"></script>
{% include 'blog/comments.html' with pk=blogPost.pk slug=blogPost.slug %}
{% endblock Script %}