<section id="video-content" class="border-bottom p-4">
     <div class="container-fluid">
         <div class="row">
         <div class="col-md-6 video-banner rounded-bottom p-5">
             <div data-aos="fade-right">
             <iframe width="100%" height="400"
            src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
            </iframe>
                 </div>
         </div>
        <div class="col-md-6 content rounded-0">
             <div data-aos="fade-left">
            <h1 style="color: red; font-weight: bold">#INTERVIEW-1:<br/> <span style="color: #1d2124;">
                Lorem ipsum dolor sit amet,</span></h1>
             </div>
            <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Esse enim, nisi eris, non potes.
                Paria sunt igitur.</p> -->
            <a class="btn btn-lg btn-outline-danger ml-4" href="#">Read more</a>
        </div>

         </div>
     </div>
    </section>