{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blink.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="blogging platform">
    <meta name="author" content="Caleb Mapatha">
    {% bootstrap_css  %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icons-animation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base-mobile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
    <!-- {#    <script src="https://kit.fontawesome.com/06e23a77b6.js" crossorigin="anonymous"></script>#} -->
<!-- {#    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#} -->
<style>
    .post-header{
    overflow: hidden;
}
/* vertically centered line in the heading  */
.post-header::before,
.post-header::after{
    background-color: red;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.post-header::before{
    right:0.5em;
    margin-left: -50%;
}
.post-header::after{
    left:0.5em;
    margin-right: -50%;
}
</style>
</head>
<body>
<!-----content---------->
    {% block navigation %}{% include 'blog/basetemplates/navigation.html' %}{% endblock navigation %}
    <!-----header---------->
    <header class="mb-5" role="banner">
        {% block page_header %}{% endblock page_header %}
    </header>

    {% block content %}{% endblock content %}
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{% block Script %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock Script %}
</body>
</html>