<!DOCTYPE html>
<html lang="en">
    {% load google_analytics_gtag %}
    {% load bootstrap4 %}
    {% load static %}    
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174025868-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-174025868-1');
    </script>
     {% google_analytics_gtag %}

    <meta charset="UTF-8">
    <title>{% block pageTitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get insights on various topics">
    <meta name="author" content="TheBlinkdot">
    
    {% bootstrap_css  %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script data-ad-client="ca-pub-5763157339241904" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body class="bg-white">
    <!-- Header -->
    {% block page_header %}{% endblock page_header %}

    <!-- Navigation -->
    {% block navigation %}{% include 'blog/basetemplates/navigation.html' %}{% endblock navigation %}

    <!-- jumbotron template --->
    {% block jumbotron %}{% include 'blog/posts/jumbotron.html' %}{% endblock jumbotron %}

    <!-- Body/Content -->
    {% block content %}{% endblock content %}
    
    <!-- {% block footer %}{% include 'blog/basetemplates/footer.html' %}{% endblock footer %} -->
    <!-- Scripts -->
     {% block Script %}
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://theblinkstaticfiles.s3.us-east-2.amazonaws.com/js/navSettings.js"></script>
            <script>
                const observer = lozad(); // lazy loads elements with default selector as '.lozad'
                      observer.observe();
            </script>
            <script>
                $('.carousel').carousel()
            </script>   
    {% endblock Script %}
</body>
</html>
