<nav class="navbar navbar-light bg-white border-bottom px-1 ">
  <button onclick="openNav" class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a href="{% url 'blog:index' %}" class="navbar-brand">theBlink</a>
    <a href="{% url 'account_login' %}" class="material-icons md-36 p-2">
      account_circle
    </a>
</nav>

<nav class="nav justify-content-center w-100 font-weight-light subMenu px-2" style="white-space: nowrap;">
    {% if user.is_authenticated %}
    <li class="nav-item d-inline-block">
      <a class="nav-link" href="{% url 'blog:newBlogPost' %}">New Post</span></a>
    </li>
    {% endif %}
    {% for nav_link in nav_links %}
    <li class="nav-item d-inline-block">
      <a class="nav-link" href="{% url 'blog:topics' nav_link.slug nav_link.id %}">{{nav_link|title}}</span></a>
    </li>
    {% endfor %}
</nav>

<nav class="nav bg-white sideMenu">
  <ul>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:newBlogPost' %}">New Post</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Subscribe</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Manage Profile</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">About Us</span></a>
      </li>
    </ul>
</nav>

