{% extends 'blog/basetemplates/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <hr/>
<section id="registration-form">
    <div class="container form-card">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-5 showcase-img">
            </div>
            <div class="col-md-7 p-5">
                <div class="display-4 mb-3">Create An Account</div>
                <form method="post" action="{% url 'user:register' %}" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button name="submit" id="registerForm" class="btn btn-dark">Register</button>
                    {% endbuttons %}
                    <input type="hidden" name="next" value="{% url 'blog:index' %}" />
                </form>
            </div>
        </div>
    </div>
        </div>
</section>
    <hr/>
{% endblock content %}