/* 

CSS STYLE FOR LOGIN AND REGISTRATION FORM 

*/
section#login_register-form{
    padding-top: 0;
}

section#login_register-form h1{
    padding-top: 8%;
}

section#login_register-form .socialaccount_providers li, 
section#login_register-form .btn
{
    text-align: center;
    border:1px solid #000;
    padding: 3%;
    width: 70%;
    margin: auto auto 2%;
}

section#login_register-form .socialaccount_providers li a, section#login_register-form .btn{
    font-weight: bold;
    font-size: 1.3em;
}

section#login_register-form .btn,
#form_create .btn
{
    margin-top: 5%;
    width: 100%!important;
    background: black;
    color:white;
    border-radius: 0;
    border-color: black;
    font-size: 1.1em;
    font-weight: bold;
}

section#login_register-form label, 
section#login_register-form #id_remember,
section#form_create label {
    display: none;
}

section#login_register-form a{
    display: inline-flex;
}

section#login_register-form .form-control {
    border-radius: 0;
    height: auto;
    padding:.9em;
}

section#login_register-form .twitter::before{
    content: url('icons/twitter.svg');
}

section#login_register-form .google::before{
    content: url('icons/google.svg');
}

section#login_register-form .twitter::before, 
section#login_register-form .google::before{
    width: 35px;
    height:35px;
    display: inline-flex;
    margin-top: 2%;
    margin-right: 11%;
    align-items: center;
}

/* 
LOGIN AND REGISTRATION FORM STYLE FOR MOBILE DEVICES 
*/
@media only screen and (max-width: 767px) {
    section#login_register-form {
        padding: 5% 15px;
    }
    section#login_register-form .socialaccount_providers li,section#login_register-form .btn{
        width:100%;
    }
}
@media only screen and (min-width: 768px) {
    section#login_register-form{
        padding-right: 25%;
        padding-left: 25%;
    }
    section#login_register-form .socialaccount_providers li, .btn{
        padding: 1%;
        cursor:pointer;
    }
}


/* 

CSS STYLE FOR CREATING NEW BLOG ENTRY FORM 

*/
#form_create .container-fluid{
    padding-top: 3%;
}
#form_create h6{
    padding-bottom: 3%;
}
