/* CSS Rules for navigation */
@import 'stylesheets/navigation.css';

/* CSS Rules for icons and anchors */
@import 'stylesheets/icons.css';

/* CSS Rules for Forms  */
@import 'stylesheets/forms.css';

/* CSS Rules for components */
@import 'stylesheets/components.css';


body{
    background-color: white;
    font-family: 'Open Sans', sans-serif!important;
}

body, html{
    overflow-x: auto;
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 35vh;
    display: none;
}

.bg-dark{
    background-color: black!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}