/* 
Carousel 
*/
/* #carousel{
    display: none;
} */
.carousel .item, .carousel-item {
    height: 400px;
  }
  
.item img, .carousel-item img {
      position: absolute;
      object-fit:cover!important;
      top: 0;
      left: 0;
      min-height: 400px;
  }

  .caption{
    position: absolute;
    top:19%;
    right: 15%;
    bottom: 20px;
    left: 15%;
    /* z-index: 10; */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  .caption h1{
      font-weight: 900;
      font-size:2.9em;
  }
  /* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */
/* 
    CARDS
*/

.card{
    border:0;
}

.card-title:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 767px) {
    .profile img{
        width:200px;
        height:200px;
        margin-left: 16%;
    }

    .profile-media{
        text-align: center!important;
    }

    .item img, .carousel-item img{
      min-height: 350px;
    }

    .carousel .item, .carousel-item{
      height: 350px;
    }
}


/* 
    PROFILE
*/
.profile img{
    /* margin-top: 3rem!important; */
    width:250px;
    height:250px;
}

/*
 jumbotron
*/

.jumbotron{
    background: whitesmoke;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position:0 15%!important;
    height: auto;
    /* min-height: 415px; */
    max-height: 400px;
}

@media only screen and (max-width: 767px) {
.jumbotron{
    /*display: none!important;*/
}
}