/* CSS Rules for hamburger menu animation */
@import url("hamburgers.min.cf73c62961db.css");

/* CSS Rules for navigation */
@import url("stylesheets/navigation.5cbb6de28686.css");

/* CSS Rules for icons and anchors */
@import url("stylesheets/icons.670ba1f63197.css");

/* CSS Rules for Forms  */
@import url("stylesheets/forms.5d9e3a344755.css");

/* CSS Rules for components */
@import url("stylesheets/components.c1c4cfc06ba5.css");

* {
    outline: none;
}
/* body{
    background-color: white;
    font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
} */

button:focus{
    outline:none!important;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100%;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
   }

p{
    line-height: 1.35;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    vertical-align: baseline;
}
iframe {
    width: 100%;
    height: auto;
    border:0;
}
/*.videos{*/
/*    overflow: auto;*/
/*    white-space: nowrap;*/
/*    position: relative;*/
/*}*/
section{
    height: 100vh;
}
.lockScroll{
    overflow:hidden;
}
footer{
    /* clear: both; */
    /* position: relative; */
    height: 200px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-dark{
    background-color: black!important;
}