/* CSS Rules for navigation */
@import url("stylesheets/navigation.9b8236b8901c.css");

/* CSS Rules for icons and anchors */
@import url("stylesheets/icons.670ba1f63197.css");

/* CSS Rules for Forms  */
@import url("stylesheets/forms.b7c6e39a004f.css");

/* CSS Rules for components */
@import url("stylesheets/components.bf6ec4fe5307.css");


/* body{
    background-color: white;
    font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
} */

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100%;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
   }

section{
    height: 100vh;
}
footer{
    clear: both;
    position: relative;
    height: 200px;
    display: none;
}

.bg-dark{
    background-color: black!important;
}